
<div class="container">
    <div *ngIf="unreadNotifications?.length" id="top">
        <h4>Notifications</h4>
    </div>
   
    <div  *ngFor="let notification of unreadNotifications; let i = index" class="description" (click)="btn.click()" >
    <span  ><b> {{notification.type | uppercase}}</b> - {{notification.message}}</span>
    <span  class="date">{{notification.createdAt | date}}</span>
    <button #btn (click)="processSelection(notification.metadata, i, notification.id)" ></button>
    </div>
    
    <div *ngIf="unreadNotifications?.length === 0 || !unreadNotifications" class="no-new-notification">  
        <span class="notification-icon">🔔</span>  
        No new notifications  
    </div>

</div>
