<div class="container">
  <div class="row">
    <div class="col-md-6" id="assignment-details">
      <h2>Assignment Details</h2>
      <form [formGroup]="assignmentForm" *ngIf="assignmentForm" (ngSubmit)="postAssignment()">
        <!-- Assignment details starts -->


        <form [formGroup]="assignmentForm" *ngIf="assignmentForm" (ngSubmit)="postAssignment()">

          <!-- Name of assignment -->
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
          </mat-form-field>
  
          <!-- Type of assignment (theory, objectives, pdf upload etc) -->
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option *ngFor="let type of _assignmentType" [value]="type">{{type | uppercase}}</mat-option>
  
            </mat-select>
          </mat-form-field>
  
          <!-- Subject the assignment is based on -->
          <mat-form-field appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" required>
          </mat-form-field>
  
          <!-- Category of students the assignment target -->
  
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category" required>
              <mat-option *ngFor="let category of categories" [value]="category">{{category | uppercase}}
                STUDENTS</mat-option>
            </mat-select>
          </mat-form-field>
  
  
          <!-- Institution that owns the assignment -->
          <mat-form-field *ngIf="institutions.length" appearance="outline">
            <mat-label>Institution</mat-label>
            <mat-select formControlName="institution" required>
              <mat-option *ngFor="let institution of institutions; let i = index"
                [value]="institution">{{institution.name}}</mat-option>
            </mat-select>
          </mat-form-field>
  
          <!-- Number of questions asked -->
          <mat-form-field appearance="outline">
            <mat-label>No of questions</mat-label>
            <input [readOnly]="hideIcon" #input matInput formControlName="totalQuestion" required>
            <mat-icon class="hiding-icon" matTooltip="proceed" *ngIf="!hideIcon" matSuffix
              (click)="processTotalQuestionChanges(input)">send</mat-icon>
            <mat-icon class="hiding-icon" matTooltip="edit" matSuffix *ngIf="hideIcon"
              (click)="toggleHide()">edit</mat-icon>
          </mat-form-field>
  
  
  
          <!-- Allocated mark for the given assignment -->
          <mat-form-field appearance="outline">
            <mat-label>Mark allocation</mat-label>
            <input matInput type="number" formControlName="allocatedMark" required>
          </mat-form-field>
  
  
          <!-- Date assignment was posted -->
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Posted on</mat-label>
            <input [min]="today" [max]="today" formControlName="creationDate" matInput [matDatepicker]="picker1">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
  
          <!-- Last submission date for assignment -->
  
          <mat-form-field appearance="outline">
            <mat-label>Submission ends</mat-label>
            <input [min]="today" formControlName="submissionEnds" matInput [matDatepicker]="dp3" readonly="">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
  
  
  
  
          <button *ngIf="!shouldDisable" mat-raised-button color="primary" type="submit">Submit</button>
          <button *ngIf="shouldDisable" mat-raised-button disabled>Submit</button>
        </form>

        <!-- Assignment details ends -->
      </form>
    </div>

    <div [formGroup]="assignmentForm!"  class="col-md-6" id="assignment-section">
      <div formArrayName="assignment">
        <!-- Objective-based assignment -->
        <div *ngIf="type.value === 'objectives'">
          <h2>Objective Questions</h2>
          <div *ngFor="let objective of assignment.controls | slice :sublistStart:sublistEnd; let i = index" [formGroupName]="(pageIndex * paginator.pageSize)+i">
            <!-- Objective question fields -->
            <mat-form-field appearance="outline">
              <mat-label>Num</mat-label>
              <input type="number" readonly matInput formControlName="_index" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Problem</mat-label>
              <input matInput formControlName="problem" required />
            </mat-form-field>

            <div formGroupName="options">
              <div *ngFor="let option of objOptions; let optIndex = index">
                <mat-form-field appearance="outline">
                  <mat-label>Option {{ option }}</mat-label>
                  <input [value]="option" matInput [formControlName]="option" required />
                </mat-form-field>
              </div>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Answer</mat-label>
              <input matInput formControlName="answer" required />
            </mat-form-field>

            <button (click)="deleteQuestion(i)" matTooltip="delete" class="bin" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <!-- Theory-based assignment -->
        <div *ngIf="type.value === 'theory'">
          <h2>Theory Questions</h2>
          <div *ngFor="let theory of assignment.controls | slice :sublistStart:sublistEnd; let i = index" [formGroupName]="(pageIndex * paginator.pageSize) + i">
            <!-- Theory question fields -->
            <mat-form-field appearance="outline">
              <mat-label>Num</mat-label>
              <input type="number" readonly matInput formControlName="_index" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Problem</mat-label>
              <input matInput formControlName="problem" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Answer</mat-label>
              <textarea matInput formControlName="answer" required></textarea>
            </mat-form-field>

            <button (click)="deleteQuestion(i)" matTooltip="delete" class="bin" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <!-- PDF-based assignment -->
        <div *ngIf="type.value === 'pdf'">
          <h2>PDF Upload</h2>
          <input #fileInput type="file" accept=".pdf" (change)="onFileSelected(fileInput)" />
        </div>
      </div>

      <!-- Material Paginator -->
      <mat-paginator *ngIf="type.value !== 'pdf'"
        [pageSizeOptions]="[2,4, 10, 20]"
        [length]="assignment.controls.length"
        (page)="onPageChange($event)">
 
    </mat-paginator>

      <button *ngIf="type.value !== 'pdf'"
        [disabled]="!type.value || !countStore.length"
        mat-raised-button
        color="primary"
        (click)="addQuestion()"
      >
        Add Question
      </button>
    </div>
  </div>
</div>
