
<div id="back" (click)="goBack()" matTooltip="Go back" 
 matTooltipShowDelay="1000" matTooltipHideDelay="2000" >
    <a mat-button >
        <mat-icon   >arrow_back</mat-icon>
    </a>
</div>
<ng-container id="panelContainer" >
<mat-accordion *ngFor="let test of topicsAndDurations$ | async  | sort, let last= last; " >
    <mat-expansion-panel>
<mat-expansion-panel-header>

<mat-panel-title class="topic">
    {{test.topic}}
</mat-panel-title>

<mat-panel-description class="description" >
    {{subject}} Assessment Test For {{level}} Student
</mat-panel-description>

</mat-expansion-panel-header>

<p  style="font-weight: bold;" >Total Duration: 45 min</p>
<mat-action-row>
    <button (click)="commenceTest(test.topic, test.duration)" mat-button color="primary" style="font-weight: bold;" >Go To Test</button>
</mat-action-row>

</mat-expansion-panel>
<mat-divider *ngIf="!last" ></mat-divider>

</mat-accordion>
</ng-container>