
<div id="back" (click)="goBack()" matTooltip="Go back" 
 matTooltipShowDelay="1000" matTooltipHideDelay="2000" >
    <a mat-button style="min-width: 75px; max-width: 75px;">
        <mat-icon   >arrow_back</mat-icon>
    </a>
</div>
<ng-container id="panelContainer" >
<mat-accordion *ngFor="let topic of topics$ | async | sort,let last= last; " >
    <mat-expansion-panel>
<mat-expansion-panel-header>

<mat-panel-title>
    {{topic}}
</mat-panel-title>

<mat-panel-description>
    {{subject}} Assessment Test For {{level}} Student
</mat-panel-description>

</mat-expansion-panel-header>

<p  style="font-weight: bold;" >Total Duration: 45 min</p>
<mat-action-row>
    <button mat-button (click)="commenceTest(topic)"
   
    color="primary" 
    style="font-weight: bold;" >Start</button>
</mat-action-row>

</mat-expansion-panel>
<mat-divider *ngIf="!last" ></mat-divider>

</mat-accordion>
</ng-container>