
<div *ngIf="!performanceAvailable" class="radio-button-container">
    <div id="radioBtnDIV">
      <label id="example-radio-group-label">Select to continue</label>
      <mat-radio-group 
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="option" name="option">
        <ng-container >
          <mat-radio-button color="primary" class="example-radio-button" [value]="'true'">Recent performance</mat-radio-button>
          <mat-radio-button color="primary" class="example-radio-button" [value]="'false'">Take more assessment</mat-radio-button>
        </ng-container>
      </mat-radio-group>
  
      <div>
        <button id='continueBTN' (click)="performanceOrMoreTest()" [disabled]="!option"  mat-raised-button>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="performanceAvailable" >
    <app-performance-report [performance]="recentPerformance" ></app-performance-report>
  </div>