
<div><label id="signInLabel" >Please Sign In</label></div>

<div class="login-container">
  <div class="login-form" [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <input type="email" formControlName="email" matInput placeholder="Email">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-hint>Your Email Address</mat-hint>
        <mat-error *ngIf="form.get('email')!.hasError('email')">Email is not valid</mat-error>
        <mat-error *ngIf="form.get('email')!.hasError('required')">Email is required</mat-error>
      </mat-form-field>
    </div>
  <!-- PASSWORD FIELD -->
    <div>
      <mat-form-field appearance="outline">
        <input [type]="dynamicPasswordInputType" formControlName="password" matInput placeholder="Password">
        @if (showPassword) {
          <button (click)="toggleShowPassword()" matSuffix mat-icon-button>
          <mat-icon>visibility_off</mat-icon>
          </button>
        }

        @if (!showPassword) {
          <button (click)="toggleShowPassword()" matSuffix mat-icon-button>
          <mat-icon>visibility</mat-icon>
          </button>
        }
        <mat-hint>Your Password</mat-hint>
        <mat-error *ngIf="form.get('password')!.hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <button (click)="login(form.get('email')!.value, form.get('password')!.value)" mat-raised-button 
      [disabled]="form.invalid" color="primary" type="submit">
        Login
      </button>
    </div>
  </div>
</div>
<!-- If the use does not have account yet,they may decide to sign up instead -->
<div id="doesNotHaveAccount" >
 <span><hr> </span>
 <span >OR</span>
 <span><hr> </span>
</div>
<div id="signUp" >
  <a mat-button 
 [routerLink]="['/sign-up']"
  color="primary" >Sign Up Now</a>
</div>
<mat-divider></mat-divider>
  <div class="continue-link" >
    <a [routerLink]="['/home']" >Continue instead</a>
  </div>

