<div *ngIf="preview && !hasUploaded; else instructions">
  <h5 class="info">Please preview before uploading</h5>

  <div class="container">

    <div class="form" [formGroup]="testForm!">

      <div class="parent">

        <div class="description">
         <span>
          <label for="category">Category</label>
         </span>
          <mat-form-field appearance="outline">
            <input id="category" matInput type="text" formControlName="category">
          </mat-form-field>
        </div>
       
        <div class="description">
         <span>
          <label for="subject">Subject</label>
         </span>
          <mat-form-field appearance="outline">
            <input id="subject" matInput type="text" formControlName="subjectName">
          </mat-form-field>
        </div>

       <div class="description">
         <span>
          <label for="title">Title</label>
         </span>
          <mat-form-field appearance="outline">
            <input id="title" matInput type="text" formControlName="testName">
          </mat-form-field>
       </div>

      <div class="description">
        <span>
          <label for="duration">Duration</label>
        </span>
        <mat-form-field appearance="outline">
          <input id="duration" matInput type="text" formControlName="duration">
        </mat-form-field>
      </div>
        
      </div>

      <div class="parent" formArrayName="questions">
        <h4 class="info">Questions</h4>

        <div [formGroup]="paginatedQuestion!" >
          
         <div class="description">
          <span  >
            <label for="index" >No: {{currentPageIndex+1}}</label>
          </span>
          <mat-form-field appearance="outline">
            <input id="index" type="text" matInput formControlName="questionNumber">
          </mat-form-field>

          <span>
            <label for="question">Question </label>
          </span>
          <mat-form-field appearance="outline">
            <textarea id="question" matInput formControlName="question"></textarea>
          </mat-form-field>
         </div>

         <div class="description">
          <span>
            <label for="answer">Answer</label>
          </span>
          <mat-form-field >
            <textarea matInput formControlName="answer" id="answer"></textarea>
          </mat-form-field>
         </div>

         <h4 class="info">Options</h4>

          <div class="info">
            <div class="options" formArrayName="options">
              <div *ngFor="let option of getOptionsArrayFor(currentPageIndex).controls; let j = index" [formGroupName]="j">
  
               
                <div class="description">
                 <mat-form-field appearance="outline">
                  <mat-select   id="letter" formControlName="letter">
                    <mat-option  [value]="option.get('letter')?.value">{{ option.get('letter')?.value }}</mat-option>
                    <mat-option *ngFor="let _option of optionsContainer![j]; let _index = index" [value]="_option" >{{_option}}</mat-option>
                  </mat-select>
                 </mat-form-field>

                 
                 <mat-form-field appearance="outline">
                  <input  formControlName="text" matInput type="text">
                 </mat-form-field>
                </div>
  
              </div>
              <div id="editDiv" >
                <button *ngIf="!editMode" mat-flat-button (click)="edit()" >
                  <mat-icon>edit</mat-icon>
                  Edit
                </button>

                <button [disabled]="hasError()"  (click)="saveChanges()" mat-flat-button  *ngIf="editMode">

                  <mat-icon>save</mat-icon>
                  Save Changes
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>

     <div id="paginate" >
      <div class="pagination-controls">
        <button (click)="previousPage()" matPrefix mat-raised-button [disabled]="currentPageIndex === 0 || editMode">
  
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
  
        <span>Page {{ currentPageIndex + 1 }} of {{ totalPageIndex }}</span>
        <button mat-raised-button matSuffix  (click)="nextPage()" [disabled]="(currentPageIndex + 1) === totalPageIndex || editMode">
         <mat-icon> arrow_forward_ios</mat-icon>
        </button>
      </div>

      <button [disabled]="(totalPageIndex- currentPageIndex ) > 1 || editMode || hasError()" mat-raised-button (click)="uploadNow()">Upload Now</button>
     </div>

    
    </div>

  </div>

</div>

<!-- Sets the instructions for the assessment once assessment is successfully uploaded -->
 <ng-template #instructions >
  <app-instructions [uploadedAssessmentId]="uploadedAssessmentId" ></app-instructions>
 </ng-template>


