<!-- Select subject and category -->
<div class="select-container">

</div>


    <h5 class="info">Fill The Test Form</h5>

<!-- Test container -->
<div class="container"  >
    <div class="form" [formGroup]="testUploadForm" >


         <!-- Category for this test -->
         <div>
            <mat-form-field appearance="outline"  >
                <mat-label>Category</mat-label>
                <mat-select   formControlName="category"  >
                    <mat-option class="indicator" >Set Category</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category" >
                        {{category}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

         <!-- subject for this test-->
         <div>
            <mat-form-field appearance="outline"  >
                <mat-label>Subject</mat-label>
                <mat-select  formControlName="subject"  >
                    <mat-option class="indicator" >Set Subject</mat-option>
                    <mat-option *ngFor="let subject of subjects" [value]="subject" >
                        {{subject}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
       
        <!-- Title of the text -->
        <div>
            <mat-form-field appearance="outline" >
                <mat-label>Title</mat-label>
              <input placeholder="Test Title" formControlName="title"  matInput >
            </mat-form-field>
        </div>

         <!-- Test duration -->
         <div>
            <mat-form-field appearance="outline" >
                <mat-label>Duration</mat-label>
               <mat-select formControlName="duration" >
                <mat-option class="indicator">Set Duration</mat-option>
                <mat-option *ngFor="let duration of durations"  [value]="duration" >
                    {{duration}}
                </mat-option>
               </mat-select>
            </mat-form-field>
        </div>
  
    </div>
</div>
<h5 class="info">Fill The Question Form</h5>

<!-- Question container -->
 <div class="container"  >

    <div class="form" [formGroup] ="questionForm">
        <div  class="total-range">
            <mat-form-field appearance="outline"   >
                <mat-label>total ?</mat-label>
                <input placeholder="Total Questions" appNumeric formControlName="total" matInput>
            </mat-form-field>
          <span id="addRange" >
            <button mat-button matTooltip="Add number of questions" >
                <mat-icon>add</mat-icon>
            </button>
          </span>
    
        </div>

        <!-- Question number -->
        <div>
            <mat-form-field appearance="outline"  >
                <mat-label>Indicate No:</mat-label>
               <mat-select formControlName="index"  >
                <mat-option class="indicator">Question number</mat-option>
                <mat-option  *ngFor="let range of numberRange" [value]="range" >
                    {{range}}
                </mat-option>
               </mat-select>
            </mat-form-field>
        </div>

         <!-- The actual question -->
     <div>
        <mat-form-field appearance="outline"  >
            <mat-label>Question</mat-label>
                <textarea  formControlName="text" matInput></textarea>
        </mat-form-field>
     </div>

     <!-- Answer to the question -->
     <div>
        <mat-form-field appearance="outline"  >
            <mat-label>Answer</mat-label>
           <mat-select formControlName="answer"  >
            <mat-option class="indicator">Indicate Answer</mat-option>
            <mat-option *ngFor="let option of options" [value]="option" >
                {{option}}
            </mat-option>
           </mat-select>
        </mat-form-field>
    </div>
    
    </div>

  
 </div>

 <h5 class="info">Fill The Options Form</h5>
 <!-- Option container -->
  <div class="container" >
    <div class="form" [formGroup]="optionForm">
        <!-- Option -->
        <div>
            <mat-form-field appearance="outline"  >
                <mat-label>Option</mat-label>
                <mat-select  formControlName="letter">
                    <mat-option class="indicator">Set Option</mat-option>
                    <mat-option *ngFor="let option of options" [value]="option" >{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Option text -->
         <div>
            <mat-form-field appearance="outline" >
                <mat-label>Text</mat-label>
                <input placeholder="option" formControlName="text"  matInput>
            </mat-form-field>
         </div>

         <div>
            <button matTooltip="Click to add" style="background-color: #dfdcdc;" mat-button >
                <mat-icon>add</mat-icon>
            </button>
        
        </div>

 
    </div>
  </div>

 