.container {  
    max-width: 800px;  
    margin: auto;  
    background: white;  
    border-radius: 8px;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
    padding: 20px;  
    margin-bottom: 10px;  
}  

h1 {  
    text-align: center;  
    color: #333;  
}  

.page-list {  
    padding: 0;  
}  

.student-info {   
    padding: 15px 0;  
}   

.separator {  
    border-bottom: 1px solid #e0e0e0;  
}  

.student-info:last-child {  
    border-bottom: none;  
}  

.student {  
    margin-bottom: 5px;  
    color: #555;  
   
}  

.back-button, .pagination-button, .details-button {  
    display: inline-block;  
    margin-top: 20px;  
    padding: 10px 15px;  
    background-color: #007bff;  
    color: white;  
    text-decoration: none;  
    border-radius: 5px;  
    text-align: center;  
}  

.back-button{
    margin-top: 10px; 
}

.details-button{

    margin-bottom: 10px;
    cursor: pointer;
    background-color: #28a745;
}

.back-button:hover, .pagination-button:hover, .details-button:hover {  
    background-color: #0056b3;  
}  

.pagination {  
    display: flex;  
    justify-content: center;  
    margin-top: 20px;  
}  

.pagination-button {  
    margin: 0 5px;  
}  



.details-button:hover {  
    background-color: #218838; /* Hover color for the details button */  
}  

#stat {  
    align-self: flex-end;  
    margin-top: 6px;  
    font-size: medium;  
}

.button-group {  
    display: flex;  
    justify-content: space-between; 
    margin-bottom: 3px;
    
}  

.disable-delete {  
   
    color: white;  
    border: none;  
    padding: 10px 20px;  
    border-radius: 5px;  
    cursor: pointer;  
    transition: background-color 0.3s;  
}  

.delete{
    background-color: #de473c; 
    

}

.delete:hover{
    background-color: #d22222; 
}

.disable{

    background-color: #cc756f; 
   
}

.disable:hover{
    background-color: #d85b52; 
}

.enable{

    background-color: #5eaf71;
    
}
.enable:hover{

    background-color: #22bc46;

}





.nav-link {  
    margin-bottom: 20px;  
    margin-top: 20px;
    display: inline-block;  
    color: #1d4ed8;  
    text-decoration: none;  
    font-weight: bold; 
    cursor: pointer; 
}  

.nav-link:hover {  
    text-decoration: underline;  
}  
