
<div *ngIf="parameter === 'upload'" class="container" >
  <div class="milestone">
    <mat-vertical-stepper #stepper [linear]="true" [disableRipple]="true" >
      <mat-step [editable]="false" label="upload"  ></mat-step>
      
      <mat-step [editable]="false" label="instructions" ></mat-step>
      <mat-step [editable]="false" label="notification" ></mat-step>
      <mat-step [editable]="false">
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
      </mat-step>
    </mat-vertical-stepper>
    
  </div>
  <div class="action">
    <a mat-button [matMenuTriggerFor]="upload">
      <mat-icon>upload</mat-icon>
      Upload What ?
    </a>
  </div>
  
  
</div>

<div *ngIf="parameter === 'fetch'" class="action">
  <a mat-button [matMenuTriggerFor]="fetch">
    <mat-icon>download</mat-icon>
    Fetch What ?
  </a>
</div>

<div *ngIf="parameter === 'banks' " class="action">
  <a mat-button [matMenuTriggerFor]="bank"
    >Open to Continue
    <mat-icon>account_balance</mat-icon>
  </a>
</div>


<div  *ngIf="parameter === 'students' " class="students">
  <a mat-button [matMenuTriggerFor]="students"
    >Open to Continue
    <mat-icon>groups</mat-icon>
  </a>
</div>


<!--uploads -->
<mat-menu yPosition="below" #upload>
  <button #uploadTest  (click)="action ='u/test'; process()" mat-menu-item>Test</button>
  <button #uploadSubject (click)="action ='u/subject'; process()" mat-menu-item>Subject</button>
  <button #uploadCategory (click)="action ='u/category'; process()" mat-menu-item>Category</button>
</mat-menu>

<!-- Fetch test -->
<mat-menu yPosition="below" #fetch>
  <button fetchTest (click)="action ='f/test'; process()" mat-menu-item>Assessments</button>
  <button #fetchSubject (click)="action ='f/subject'; process()" mat-menu-item>Assessment subject</button>
  <button #fetchCategory (click)="action ='f/category'; process()" mat-menu-item>Assessment category</button>
  <button #fetchTopic (click)="action ='f/topic'; process()" mat-menu-item>Assessment topics</button>
</mat-menu>

<!-- QUESTION BANK MENU -->
<mat-menu #bank="matMenu">
  <button mat-menu-item>Set Questions</button>
  <button mat-menu-item>Set Options</button>
</mat-menu>

<!-- Student -->
<mat-menu #students="matMenu">
<button  (click)="action = 'students-list'; process()" mat-menu-item>Fetch Student list</button>
<button disabled mat-menu-item>Register a Student</button>
</mat-menu>


<router-outlet></router-outlet>