.container{

    display: flex;
    margin-top: 3vh;
    font-family: Arial, sans-serif;
   
}

.milestone{
    
width: fit-content;
pointer-events: none;
margin-top: 50px;
   
}

.action{

   display: flex;
  margin-left:24vw;
   margin-top: 100px;
}
.action a{
     background-color: #abb4c2; 
     margin-top: 2px;
    
}

@media(max-width:900px){

   .action{
    margin-left: 10vw;
    font-size: 0.2rem;
   }

   .action a{
    font-size: 0.5rem;
   }

   
}

