<div>


    <div class="container">  
        <h1>Student's Academic Performance</h1>  
          
        <div>  
            <strong>Overall Average Score(%):</strong> {{toPrecision(averageAssessmentScore) ||'No Records Yet'}} 
        </div>  
        <div *ngIf="studentPerformances.length" class="assessment"  >  
            <div class="assessment-title">Assessments Taken:</div>  
            <div  *ngFor="let performance of studentPerformances; let i = index; let last = last">  
                <strong>Title:</strong> {{assessmentNames[i]}}<br>  
                <strong>Date Taken:</strong>{{performance.when |date}}<br>  
                <strong>Average Score:</strong> {{performance.score}}
                <div *ngIf="!last" class="separator"></div>
            </div>  
           
        </div>  
    
        <div class="char-container">
            <canvas id="analysisChart" [ngStyle]="{'width': studentPerformances.length ? 50 : 0}"
            [ngStyle]="{'height': studentPerformances.length ? 50 : 0}"
            ></canvas>
        </div>
        
    </div>  
</div>

