<div  id="back" matTooltip="Go back" 
 matTooltipShowDelay="1000"
 matTooltipPosition="below"
 matTooltipHideDelay="2000" >
    <a mat-button >
        <mat-icon   >arrow_back</mat-icon>
    </a>
</div>
<p></p>

<ng-container *ngIf="!deviceXs; else xsLayout">
  <mat-grid-list [cols]="col" rowHeight="100px" gutterSize="6px">
    <mat-grid-tile *ngFor="let subject of subjectNames | sort" [colspan]="1">
      <a mat-button [routerLink]="['/assessment-panel', subject, selectedLevel]">
        <mat-icon class="mat-icon-quiz">quiz</mat-icon>
        <span class="subject-text">{{subject}}</span>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

  
  <ng-template  #xsLayout>
    <mat-grid-list style="padding-left: 0px;" [cols]="col" rowHeight="100px" gutterSize="6px">
      <mat-grid-tile *ngFor="let subject of subjectNames | sort " [colspan]="1">
        <a style="width: 180px;" mat-button [routerLink]="['/assessment-panel', subject, selectedLevel]">
      
          <mat-icon  class="mat-icon-quiz" >quiz</mat-icon>
         <span  class="subject-text" > {{subject}}</span>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>



 