mat-grid-tile{
    display: flex;
    flex-direction: column;
  }

 
  
  .mat-icon-quiz {
    color: #ff9800; /* Change color to a standout orange */
    font-size: 1.5em; /* Increase icon size */
    margin-right: 0.5em; /* Add space between the icon and the text */
    vertical-align: middle; /* Align icon vertically in the middle */
  }
  #back{

    margin-top: 20px;
    margin-bottom: 25px;
    color: #00796b;
    max-width: 75px;
}

  
  #back a {
   
    color: #00796b; 
  } 
  
  
  #back mat-icon {
    font-size: 1.5em;
    margin-right: 0.5em; 
  }

  /* Mobile styles */
  @media(max-width:600px){
    .mat-icon-quiz{
      display: none !important;
    }

    .subject-text {
      font-size: 0.8em !important; 
      font-weight: bold !important; 
      color: #00796b !important; 
    }

    
  }

  /* Tablet */
  @media (min-width: 601px) and (max-width:1024px){

   
    .subject-text {
      font-size: 0.8em !important; 
      font-weight: bold !important; 
      color: #00796b !important; 
    }

  }
