
<mat-spinner *ngIf="!chatMessages.length && recentPosts()" [diameter]="25" style="margin-left: auto; margin-right: auto; margin-top: auto; margin-top: auto;"  ></mat-spinner>

<div style="scrollbar-color: green;" *ngIf="! _viewNotificationDetails" class="chat-container">  
  <div class="chat-header">
      <label class="chat-label">{{groupDescription()}}</label>
      <a  mat-button matTooltip="online members" *ngIf="onlineMembers"  >
        <mat-icon color="primary" >online_prediction</mat-icon>
        {{onlineMembers }}
      </a>

      <a *ngIf="isGroupAdmin() && requestNotificationCount() > 0"
         mat-button matTooltip="new requests" (click)="viewNotificationDetails()" >
        <mat-icon aria-hidden="false" [matBadge]="requestNotificationCount()">mail</mat-icon>
      </a>
  </div>

  
  <div #chatContainer class="chat">  
    <div *ngIf="!isGroupAdmin()" style="font-size: 0.75em; color: #777; margin-bottom: 2px; display: flex; justify-content: center; ">
     You joined on {{groupJoinDate | date:'fullDate'}}
    </div>

    <div *ngIf="isGroupAdmin()" style="font-size: 0.75em; color: #777; margin-bottom: 2px; display: flex; justify-content: center; ">
        Group you created on {{groupJoinDate | date:'fullDate'}}
       </div>
    <div  *ngFor="let chat of chatMessages" class="chat-message" #chatMessageRef > 

        <div class="sender-name">
            
          <span *ngIf="!(chat.senderId === currentUser()?.id)" style="color: rgb(58, 25, 2);" >{{tilde}}</span>
            <span style="margin-top: -5px; color: #777 ">
                {{ chat.senderId === currentUser()?.id ? 'You' :chat.senderName }}
            </span>
        </div>  

       <div style="display: flex; align-items: flex-start;" >
        <button mat-icon-button (click)="showChatMenu(chat)" [matMenuTriggerFor]="messageMenu" #messageMenuTrigger aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <div class="chat-message-container" >
         <div style="display: flex; flex-direction: column;">
          <span [ngStyle]="{'background-color':chat.senderId === currentUser()?.id ? '#d2f0c4':'#f5f7f4'}" class="message-content" > {{ chat.content }}</span>
          <span *ngIf="chat.isEditedChat" style="font-size: 0.5rem; margin-left: 3px; color: rgb(58, 25, 2); " >Edited </span>
         </div>
          <span class="reply-icon" *ngIf="chat.repliedTo"> <mat-icon>reply</mat-icon> </span>
          <span [matTooltip]="hasBeenDeleted(chat.repliedTo) ? chatDeleter(chat) : '' " (click)="goToChat(chat.repliedTo)" class="repliedChat" *ngIf="chat.repliedTo" >{{chat.repliedToChat}}</span> 
        </div>  

        <span *ngIf="copiedText === chat.content" >
          <mat-icon color="primary" >check</mat-icon>
        </span>
 
       </div>
       
       
        <div class="sent-at">{{ chat.sentAt | date:'medium' }}</div>  
    </div>

   
</div> 



  <mat-menu [yPosition]="'below'" [xPosition]="'after'" [overlapTrigger]="true"  #messageMenu="matMenu"> 

    <button (click)="replyToChat()" mat-menu-item >
      <mat-icon class="reply-icon" >reply</mat-icon> reply
    </button>

    <button (click)="copyToClipboard(currentlyClickedChat?.content)" mat-menu-item>  
        <mat-icon color="primary" >content_copy</mat-icon>copy chat
      </button> 
     
    <button *ngIf="isAuthor()" (click)="editChat()" mat-menu-item>  
      <mat-icon  color="primary" >edit</mat-icon>edit chat
    </button> 

    <button *ngIf="isAuthor() || isGroupAdmin()" (click)="deleteChat()"  mat-menu-item>  
      <mat-icon color="warn">delete</mat-icon>delete chat
    </button>  

    <button *ngIf="!(currentlyClickedChat?.senderId === currentUser()?.id)" mat-menu-item >
      <mat-icon color="warn">report</mat-icon>
      <span>Report {{currentlyClickedChat?.senderName}}</span>
    </button>
    

   
  </mat-menu>  

  <div #textAreaDiv class="chat-input">  
      <mat-form-field>
       
          <mat-label *ngIf="canPost()" >Type a message...</mat-label>
          <mat-label *ngIf="!canPost()" >You can't post here</mat-label>
          <button 
              style="background-color: rgb(81, 81, 231);" 
              [disabled]="validateChatContent()" 
              (click)="sendChat(); $event.stopPropagation()" 
              mat-icon-button matSuffix>
              <mat-icon>send</mat-icon>
          </button>
          <textarea 
              matInput 
              (keydown.enter)="sendChat()"
              [(ngModel)]="newChatContent"
              cdkTextareaAutosize
              #textarea
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              [disabled]="!canPost()"
              >
          </textarea>
      </mat-form-field>
  </div> 
</div> 

<app-request-notifications-detail *ngIf="_viewNotificationDetails" [notifications]="requestNotifications" [groupId]="currentGroupId" (notificationDetails)="_viewNotificationDetails=$event" (clearParentJoinRequestNotification)="clearRequestNotification($event)"  ></app-request-notifications-detail>

