/* .container{

  height: 100vh;
  padding-top: 15px;
  margin-top: 70px;
} */
#back{

  margin-top: 20px;
  margin-bottom: 25px;
  color: #00796b;
  max-width: 75px;
}


#back a {
 
  color: #00796b; 
} 


#back mat-icon {
  font-size: 1.5em;
  margin-right: 0.5em; 
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}
.header-left {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
 
  
}

#starTest{
  margin-left: 50px;
}







.topic-header {
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 4px;
  
}



/* CSS for the timer container */
.timer-container {
  margin-left: 20px;
  font-size: 1em;
  font-weight: bold;
 
  padding: 5px 10px;
  border-radius: 8px;
  
}

/* css header layout on small screen sizes */
.vertical-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.quiz-container {
  position: relative;
  width: 80%;
  margin: auto;
  padding-top: 64px; /* Height of the toolbar */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.quiz-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-label {
  flex: 1;
  text-align: left;
}

.right-label {
  flex: 1;
  text-align: right;
}

mat-accordion {
  margin-top: 16px; /* Space between toolbar and accordion */
}

mat-expansion-panel-header {
  background-color: #e3f2fd;
  border-bottom: 1px solid #ddd;
}

mat-radio-button {
  display: block;
  margin: 8px 0;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
}


/* Styles the progress bar  */
.progress-bar-fixed{
  
  /* padding: 10px 0; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Centers text below the progress bar */
.progress-text{

  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.pagination-controls{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
.pagination-controls button{
margin: 0 10px;

}

.pagination-controls span{

  font-size: 15px;
  font-weight: bold;
}