
<div *ngIf="newNotification" class="container" >

   
        <h3 id="header">Notification Dashboard</h3>

        <div class="notificationForm" [formGroup]="notificationForm!">

            <span>
                <button class="no-action">
                    <mat-icon>mail</mat-icon>
                    Message 
                  </button>
            </span>
            <mat-form-field appearance="outline">
                <input [disabled]="disableFields" placeholder="Notification message" type="text" matInput formControlName="message">
              </mat-form-field>

              <span>
                <button class="no-action">
                    <mat-icon>diversity_3</mat-icon>
                    Audience
                </button>
              </span>
             <div class="audience">
               

              <div>

              <mat-form-field >
                <textarea (click)="isCheckBoxJustClicked = false"  appNumeric [disabled]="disableFields" id="text-area" placeholder="number or space separated numbers" matInput formControlName="audience"></textarea>
              </mat-form-field>
              </div>
             
                <div *ngIf="isSuperAdmin()" id="allStudents">
                  <span>All students</span>
                  <span (click)="isCheckBoxJustClicked = true" > <mat-checkbox  (change)="processCheckedBtn($event)" [disabled]="disableFields" #audienceCheck color="primary" [disableRipple]="true" ></mat-checkbox></span>
                </div>

               <div>
                <mat-form-field  (click)="isCheckBoxJustClicked = false" appearance="outline">
                  <mat-label>my institution</mat-label>
                  <mat-select [disabled]="disableFields"  #institutionSelect [(value)]="selectedInstitution" >
                    <mat-option>None</mat-option>
                    <mat-option  (onSelectionChange)="processInstitutionChangeEvent($event)" *ngFor="let insitution of myInstitutions" [value]="insitution.id" >
                    {{insitution.name}}
                    </mat-option>
  
                  </mat-select>
  
                </mat-form-field>
               </div>
           
             
             </div>

            
             
              <button #notifyBtn [disabled]="!canSubmit() || disableFields" (click)="notify()" mat-raised-button>
              
                <mat-icon style="color: green;" >send</mat-icon>
                Notify
              </button>
        </div>
    </div>

