
<div *ngIf="newNotification" class="container" >

   
        <h3 id="header">Notification Dashboard</h3>

        <div class="notificationForm" [formGroup]="notificationForm!">

            <span>
                <button class="no-action">
                    <mat-icon>mail</mat-icon>
                    Message 
                  </button>
            </span>
            <mat-form-field appearance="outline">
                <input [disabled]="disableFields" placeholder="Notification message" type="text" matInput formControlName="message">
              </mat-form-field>

              <span>
                <button class="no-action">
                    <mat-icon>diversity_3</mat-icon>
                    Audience
                </button>
              </span>
             <div class="audience">

              <mat-form-field >
                <textarea appNumeric [disabled]="disableFields" id="text-area" placeholder="number or space separated numbers" matInput formControlName="audience"></textarea>
              </mat-form-field>

              <span id="checkbox" >
                <mat-checkbox [disabled]="disableFields" #audienceCheck color="primary" [disableRipple]="true" ></mat-checkbox>
                <span>All</span>
              </span>
             
             </div>
             
              <button #notifyBtn [disabled]="!canSubmit() || disbaleFields" (click)="notify()" mat-raised-button>
              
                <mat-icon style="color: green;" >send</mat-icon>
                Notify
              </button>
        </div>
    </div>

