
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" id="menuItem" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle"> <b>e-</b><i>Kademiks</i> </span>
    

    <a mat-button routerLink="/" class="top-menu-item" ><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLink="/assessments" class="top-menu-item"><mat-icon>school</mat-icon>Assessments</a>
    <a mat-button routerLink="/supports" class="top-menu-item"><mat-icon>help</mat-icon>Help/Supports</a>
    <a mat-button routerLink="/contact" class="top-menu-item" ><mat-icon>call</mat-icon>Contact</a>

    <span id="topMenuLoginLogout" >
        <a mat-button routerLink="/login" class="top-menu-item" ><mat-icon>login</mat-icon>Login</a>
        <a mat-button routerLink="/logout" class="top-menu-item"  ><mat-icon>logout</mat-icon>Logout</a>
        
    </span>
   
  </mat-toolbar>
 

  
  <mat-sidenav-container>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
    <div class="side-nav-items">

        <div>
            <a (click)="sidenav.close()" mat-button routerLink="/" class="side-menu-item"> <mat-icon>home</mat-icon> Home</a>
        </div>
      <div>
        <a (click)="sidenav.close()" mat-button routerLink="/assessments"class="side-menu-item"> <mat-icon>school</mat-icon> Assessments</a>
      </div>
        <div>
            <a (click)="sidenav.close()" mat-button routerLink="/supports" class="side-menu-item"> <mat-icon>help</mat-icon> Help/Supports</a>
   
        </div>

        <div>
            <a (click)="sidenav.close()" mat-button routerLink="/contact" class="side-menu-item"> <mat-icon>call</mat-icon> Contact</a>
   
        </div>

        
        <div >
            <a (click)="sidenav.close()" mat-button routerLink="/Login" class="side-menu-item"> <mat-icon>login</mat-icon> Login</a>
        </div>

        
        <div >
            <a  (click)="sidenav.close()" mat-button routerLink="/logout" class="side-menu-item"> <mat-icon>logout</mat-icon> Logout</a>
        </div>
    </div>
        </mat-sidenav>
    <mat-sidenav-content>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

