
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" id="menuItem" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle"> <b>e-</b><i>Kademiks</i> </span>
    

    <a mat-button routerLink="/home" class="top-menu-item" ><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLink="/assessments" class="top-menu-item"><mat-icon>school</mat-icon>Assessments</a>
    <a mat-button routerLink="/supports" class="top-menu-item"><mat-icon>help</mat-icon>Help/Supports</a>
    <a mat-button routerLink="/contact" class="top-menu-item" ><mat-icon>call</mat-icon>Contact</a>

    <!-- ADMIN BUTTON -->
    <a *ngIf="isAdmin()" mat-button [matMenuTriggerFor]="admins" aria-label="Example icon-button with a menu" class="top-menu-item" >

        <mat-icon>lock</mat-icon>
        Admin
    </a>

    <!-- ADMIN MENU -->
    <mat-menu  #admins="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="assessment" >
        <mat-icon>quiz</mat-icon>
       Assessment
    </button>
    <button routerLink="/admin/students" mat-menu-item >
        <mat-icon>person</mat-icon>
        Students
    </button>

    <button disabled mat-menu-item>
        <mat-icon>assignment</mat-icon>
        Post assignment
    </button>
    </mat-menu>

    <!-- ASSESSMENT MENU -->
    <mat-menu #assessment="matMenu" >
        <button mat-menu-item [matMenuTriggerFor]="test" >
            <mat-icon>menu_book</mat-icon>
           Test
        </button>
        <button routerLink="/admin/banks" mat-menu-item >
            <mat-icon>account_balance</mat-icon>
            Question bank
        </button>
    </mat-menu>

    <!-- TEST MENU-->
     <mat-menu  #test="matMenu">
        <button   mat-menu-item routerLink="/admin/upload" >
            <mat-icon>upload</mat-icon>
            Upload
        </button>


        <button mat-menu-item routerLink="/admin/fetch"  >
            <mat-icon>download</mat-icon>
          Fetch
        </button>
        
     </mat-menu>



   




    <span *ngIf="isGuestUser()" id="user" > 👋 Hi {{userName | uppercase}} </span>
    <span *ngIf="isLoggedInStudent() || isAdmin()" id="user" > <mat-icon>person</mat-icon> Hi {{userName | uppercase}} </span>
    <button routerLink="/notifications" *ngIf="isLoggedInStudent() && unreadNotifications === 0 "  id="notifications" ><mat-icon   >notifications</mat-icon></button>
    <button  routerLink="/notifications" *ngIf="isLoggedInStudent() &&  unreadNotifications > 0"  id="notifications"  ><mat-icon aria-hidden="false" [matBadge]="unreadNotifications" matBadgePosition="above after" matBadgeSize="small" matBadgeColor="warn" >notifications_active</mat-icon></button>
    <span id="topMenuLoginLogout" >
        <a *ngIf="!loggedIn()" mat-button [routerLink]="['/login']" class="top-menu-item" ><mat-icon>login</mat-icon>Login</a>
        <a (click)="logout()" *ngIf="loggedIn()"  mat-button class="top-menu-item"  ><mat-icon>logout</mat-icon>Logout</a>
        
    </span>
   
  </mat-toolbar>
 
  <!-- SIDE NAVIGATION BAR -->
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side">
    <div class="side-nav-items">

        <div>
            <a (click)="sidenav.close()" mat-button routerLink="/home" class="side-menu-item"> <mat-icon>home</mat-icon> Home</a>
        </div>
      <div *ngIf="!isAdmin()" >
        <a (click)="sidenav.close()" mat-button routerLink="/assessments"class="side-menu-item"> <mat-icon>school</mat-icon> Assessments</a>
      </div>
        <div>
            <a (click)="sidenav.close()" mat-button routerLink="/supports" class="side-menu-item"> <mat-icon>help</mat-icon> Help/Supports</a>
   
        </div>

        <div>
            <a (click)="sidenav.close()" mat-button routerLink="/contact" class="side-menu-item"> <mat-icon>call</mat-icon> Contact</a>
   
        </div>
        
      
        <div >
            <a  *ngIf="!loggedIn()"  (click)="sidenav.close()" mat-button routerLink="/login" class="side-menu-item"> <mat-icon>login</mat-icon> Login</a>
        </div>

        
        <div >
            <a (click)="logout()" *ngIf="loggedIn()" (click)="sidenav.close()" mat-button class="side-menu-item"> <mat-icon>logout</mat-icon> Logout</a>
        </div>

        <div>
            <a *ngIf="isAdmin()"  mat-button (click)="sidenav.close()" [matMenuTriggerFor]="admins" aria-label="Example icon-button with a menu" class="side-menu-item" >

                <mat-icon >lock</mat-icon>
                
                Admin
            </a>

        </div>
    </div>
        </mat-sidenav>
    <mat-sidenav-content>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Confirmation to confirm student's logout action -->
   <app-confirmation></app-confirmation>
