<div class="container">
  <div id="back" (click)="goBack()" matTooltip="Go back" 
  matTooltipShowDelay="1000" matTooltipHideDelay="2000" >
     <a mat-button >
         <mat-icon   >arrow_back</mat-icon>
     </a>
 </div>
 
 <div 
 *ngIf="hasReadInstructions && testStarted"
class="progress-bar-fixed" >
  <app-progress-bar [barColor]="progressBarColor"
  [barMode]="barMode"
  [barBufferValue]="progress" ></app-progress-bar>
  <div class="progress-text">
    @if (remaining > 0) {
     <span>Remaining</span>: {{remaining}}
    } @else if (remaining <= 0 ) {
     <span>Completed !</span>
    }
  </div>
</div>
 
 <div  class="header-container">
     <div class="header-left" 
     [ngClass]="{'vertical-layout':smallScreen}"
     >
       {{ subject }}<span [hidden]="smallScreen">:</span> <span class="topic-header">{{ topic }}</span>
       
     </div>
     <a id="starTest" mat-raised-button color="primary" 
     (click)="startTest()"
     [hidden]="testStarted && hasReadInstructions"
     >Start</a> 
     <span *ngIf="testStarted" > 
       <app-timer   [testDuration]="testDuration"
       (timeUp)="autoSubmit($event)">
 
       </app-timer> 
     </span>
   </div>
 
 <div *ngIf= "testStarted && hasReadInstructions" class="quiz-container">
 
     <mat-accordion>
       <mat-expansion-panel *ngFor="let question of paginatedQuestions; let i = index">
         <mat-expansion-panel-header>
           <mat-panel-title>
             <span style="padding-right: 5px;" >{{ (currentPage * pageSize) + i + 1}}.</span><span class="problem" [appMathJax]= "question.problem"></span>
           </mat-panel-title>
         </mat-expansion-panel-header>
         
         <mat-radio-group [disabled]="submitting"
         
         (change)="calculateProgress()"
 
         [(ngModel)]="selectedOptions[(currentPage * pageSize) + i]" *ngIf="question.options.length">
           <mat-radio-button color="primary" *ngFor="let option of paginatedQuestions![i].options| optionSort"
          
           [value]="option.letter">
             <span style="font-weight: bold;margin-right: 15px; " [appMathJax]="option.letter ">. </span> <span [appMathJax]="  option.text"></span>
           </mat-radio-button>
         </mat-radio-group>
       </mat-expansion-panel>
     </mat-accordion>
   

     <div class="pagination-controls">
      <button matPrefix mat-button (click)="previousPage()" [disabled]="currentPage === 0">

        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button mat-button matSuffix (click)="nextPage()" [disabled]="currentPage + 1 === totalPages">
       <mat-icon> arrow_forward_ios</mat-icon>
      </button>
    </div>

     <button [disabled]="!submitable() || testSubmitted" mat-raised-button color="primary" (click)="submit()">Submit Now</button>
   </div>
</div>
<!-- Confirmation dialog -->
<app-confirmation></app-confirmation>

 
