<div class="container" *ngIf="!levels$; else selectionMade" >
  <section style="padding-top: 1px;" class="welcome"> 
    <app-welcome [welcomeMessages]="welcomeMessages$"> 
    </app-welcome>
  </section>
  
  <mat-divider class="custom-divider" [vertical]="true"></mat-divider>

  <section class="actions">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile [rowspan]="rowspan" colspan="4">
        <div class="action-item">Featured Assessment</div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="rowspan" colspan="4">
        <div class="action-item">
          <a mat-button (click)="getAcademicLevels()">Take Assessment</a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="rowspan" colspan="4">
        <div class="action-item">Account</div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="rowspan" colspan="4">
        <div class="action-item">Recommended Assessment</div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</div>




<ng-template #selectionMade>
  <div class="radio-button-container">
    <div id="radioBtnDIV">
      <label id="example-radio-group-label">Assessment level</label>
      <mat-radio-group 
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="selectedLevel" name="_level">
        <ng-container *ngFor="let level of levels$ | async">
          <mat-radio-button class="example-radio-button" [value]="level.category">{{level.category}}</mat-radio-button>
        </ng-container>
      </mat-radio-group>
  
      <div>
        <button id='continueBTN' (click)="handleSelection()" [disabled]="!selectedLevel"  mat-raised-button>
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
    </div>
  </div>
  
</ng-template>
