.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}


.custom-divider{
  height: 40vw;
}

.welcome, .actions {
  box-sizing: border-box;
}

.welcome {
  padding: 1rem;
  order: 1;
}

.custom-divider {
  order: 2;
}

.actions {
  padding: 1rem;
  order: 3;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .welcome {
    background-color: #e5e4d7;
    padding: 30px;
    width: 60vw;
    height: 40vw;
    border-radius: 5px;
  }
  .custom-divider {
    margin: 0 20px;
  }
  .actions {
    background-color: #e5e4d7;
    padding: 20px;
    width: 30vw;
    height: 40vw;
    border-radius: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    flex-direction: row;
  }
  .welcome {
    background-color: #e5e4d7;
    padding: 30px;
    width: 60vw;
    height: 50vw;
    border-radius: 5px;
  }
  .custom-divider {
    margin: 0 20px;
   
  }
  .actions {
    background-color: #e5e4d7;
    padding: 20px;
    width: 30vw;
    height: 50vw;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  .welcome, .actions {
    width: 100vw;
    order: initial;
    border-radius: 5px;
  }
  .welcome {
    background-color: #e5e4d7;
    height: auto;
    margin-bottom: 4px;
  }
  .custom-divider {
    margin: 0;
  }
  .actions {
    background-color: #e5e4d7;
  }
}

.mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
