.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.welcome, .actions {
  box-sizing: border-box;
}

.welcome {
  padding: 1rem;
  order: 1;
}

.actions {
  padding: 1rem;
  order: 2;
}

.welcome p{
  font-family:  'Roboto', sans-serif;;
}

@media (min-width: 1024px) {
  /* Large screens */
  .welcome {
    background-color: #e5e4d7;
    padding: 30px;
    width: 60vw;
    height: 40vw;
    order: 1;
    border-radius: 5px;
  }
  .actions {
    background-color: #e5e4d7;
    padding: 20px;
    width: 30vw;
    height: 40vw;
    margin-left: 40px;
    border-radius: 5px;
    order: 2;
  }
  .welcome p {
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
  }

 
  

}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Medium screens */
  .welcome {
    background-color: #e5e4d7;
    padding: 30px;
    width: 60vw;
    height: 50vw;
    order: 1;
    border-radius: 5px;
  }
  .actions {
    background-color: #e5e4d7;
    padding: 20px;
    width: 30vw;
    height: 50vw;
    margin-left: 40px;
    border-radius: 5px;
    order: 2;
  }
  .welcome p {
    margin-bottom: 1.5rem;
    letter-spacing: 0.08rem;
    line-height: 1.4rem;
  }


}

@media (max-width: 767px) {
  /* Small screens */
  .welcome, .actions {
    width: 100vw;
   
    order: initial;
    border-radius: 5px;
  }
  .welcome {
    background-color: #e5e4d7;
    height: auto;
    margin-bottom: 4px;
  }
  .actions {
    background-color: #e5e4d7;
  }
  .welcome p {
    margin-bottom: 1rem;
    letter-spacing: 0.05rem;
    line-height: 1.3rem;
    
   
  }
}

.mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
}
